<%= simple_form_for(@question) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :question_set %>
  </div>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>
  <div class="form-inputs">
    <%= f.input :explanation %>
  </div>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
