<p>
  <strong>Question Set:</strong>
  <%= @question.question_set.name %>
</p>
<p>
  <strong>Explanation:</strong>
  <%= @question.explanation %>
</p>

<p>
  <strong>Name:</strong>
  <%= @question.name %>
</p>


<div class="answers">

  <% @answers.each do |answer| %>
    <ul>
      <td><%= answer.name %></td>
      <td> <%= check_box_tag 'answer', answer, answer.correct %> </td>
      <td><%= link_to 'Show', question_answer_path(@question, answer) %></td>
      <td><%= link_to 'Edit', edit_question_answer_path(@question,answer) %></td>
      <td><%= link_to 'Destroy', [@question, answer], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </ul>
  <% end %>
</div>

 <%= link_to 'Show answers',  question_answers_path([@question]) %> |

<%= link_to 'Edit', edit_question_path(@question) %> |
<%= link_to 'Back', questions_path %>
