<%= simple_form_for(@question_bank) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :bounty %>
  </div>
  <h3>Question Sets</h3>
    <div id='question_sets'>
      <%= f.simple_fields_for :question_sets do |question_set| %>
        <%= render 'question_set_fields', :f => question_set %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'Add questionSet', f, :question_sets %>
      </div>
    </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
