<div class="nested-fields">
    <%= f.input :name %>
    <%= f.input :instruction %>
    <%= f.input :guide %>
    <%= f.association :question_category %>
    <%= link_to_remove_association "remove task", f %>
</div>
