<p id="notice"><%= notice %></p>

<h1>Question Banks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bounty</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @question_banks.each do |question_bank| %>
      <tr>
        <td><%= question_bank.name %></td>
        <td><%= question_bank.bounty %></td>
        <td><%= link_to 'Show', question_bank %></td>
        <td><%= link_to 'Edit', edit_question_bank_path(question_bank) %></td>
        <td><%= link_to 'Destroy', question_bank, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question Bank', new_question_bank_path %>
