<p>
  <strong>Name:</strong>
  <%= @question_bank.name %>
</p>
<p>
  <strong>Bounty:</strong>
  <%= @question_bank.bounty %>
</p>


<% @question_sets.each do |question_set| %>
  <ul>
    <h4><%= question_set.name %></h4>
    <p>Category: <%= question_set.question_category.name if question_set.question_category!=nil %></p>
  </ul>
<% end %>

<%= link_to 'Edit', edit_question_bank_path(@question_bank) %> |
<%= link_to 'Back', question_banks_path %>
