<%= simple_form_for(comment) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :body %>
    <%= f.association :post %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
