<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :phone %>
    <%= f.input :bounty_id %>
    <%= f.input :age %>
    <%= f.select(:gender, User.genders.keys.map {|gen| [gen.titleize,gen]}) %>
    <%= f.file_field :avatar %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
