<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>
<p><strong>Gender: </strong>
  <%= @user.gender %>
</p>
<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<p style="height: 250px;">
  <strong>Avatar</strong>
  <%= image_tag @user.avatar , class: "img img-responsive", style: "width:240px; height:240px;" %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
