<p id="notice"><%= notice %></p>

<h1>Bounties</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bounties.each do |bounty| %>
      <tr>
        <td><%= bounty.amount %></td>
        <td><%= link_to 'Show', bounty %></td>
        <td><%= link_to 'Edit', edit_bounty_path(bounty) %></td>
        <td><%= link_to 'Destroy', bounty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bounty', new_bounty_path %>
