<%= simple_form_for(@question_set) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :instruction %>
    <%= f.input :guide %>
    <%= f.association :question_category %>
    <%= f.association :question_bank %>
  </div>

<div class="">
  <%= f.fields_for :questions do |addresses_form| %>
  <li>
    <%= addresses_form.check_box :_destroy%>
    <%= addresses_form.label :name %>
    <%= addresses_form.text_field :name %>
    <%= addresses_form.label :explanation %>
    <%= addresses_form.text_field :explanation %>

  </li>

<% end %>
</div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
