
<h1>Question Sets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Instruction</th>
      <th>Guide</th>
      <th>Category</th>
      <th>Bank</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @question_sets.each do |question_set| %>
      <tr>
        <td><%= question_set.name %></td>
        <td><%= question_set.instruction %></td>
        <td><%= question_set.guide %></td>
        <td><%= question_set.question_category.name if question_set.question_category!=nil %></td>
        <td><%= question_set.question_bank.name if question_set.question_bank!=nil %></td>
        <td><%= link_to 'Show', question_set %></td>
        <td><%= link_to 'Edit', edit_question_set_path(question_set) %></td>
        <td><%= link_to 'Destroy', question_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question Set', new_question_set_path %>
