
<p>
  <strong>Instruction:</strong>
  <%= @question_set.instruction %>
</p>

<p>
  <strong>Guide:</strong>
  <%= @question_set.guide %>
</p>
<p>
  <strong>Questioncategory:</strong>
  <%= @question_set.question_category.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @question_set.name %>
</p>

<div class="questions">

<% @questions.each do |question| %>
  <ul>
    <h4><%= question.name %></h4>
    <p>Explanation: <%= question.explanation %></p>
  </ul>
<% end %>
</div>


<%= link_to 'Edit', edit_question_set_path(@question_set) %> |
<%= link_to 'Back', question_sets_path %>
