<div class="nav-navbar navbar-default text-center"  style="
  padding: 1rem;
  background-color: black;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;

">
  <footer class="footer">
    <div class="container">
      <p class="text-muted">Place sticky footer content here.</p>
    </div>
  </footer>
</div>
