<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "SmartStudy", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to "QuestonCategory",  question_categories_path %>
        </li>

        <li>
          <%= link_to "QuestionBank",  question_banks_path %>
        </li>
        <li>
          <%= link_to "QuestonSET",   question_sets_path  %>
        </li>

        <li>
          <%= link_to "Questions",  questions_path %>
        </li>

        <li>
          <%= link_to "News", posts_path %>
        </li>

      </ul>
      <ul class="nav navbar-nav navbar-right">

        <% if user_signed_in? %>
        <li>
          <%= link_to user_path(current_user)  do %>
          <span class="glyphicon glyphicon-user"></span>
          My profile
          <% end %>

        </li>

        <li>
          <%= link_to destroy_user_session_path, method: :delete do %>
          <span class="glyphicon glyphicon-log-out"></span>
          Logout
          <% end %>

        </li>

      <% else %>
        <li>
          <%= link_to new_user_registration_path do %>
          <span class="glyphicon glyphicon-user"></span>
          Sign Up
          <% end %>

        </li>

        <li>
          <%= link_to new_user_session_path do %>
          <span class="glyphicon glyphicon-log-in"></span>
          Login
          <% end %>
          <% end %>
      </ul>
    </div>
  </div>
</nav>
