<%= simple_form_for([@question, @answer]) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <% #= f.association :question %>

    <%= f.input :name %>
    <%= f.input :correct %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
