
<p>
  <strong>Name:</strong>
  <%= @answer.name %>
</p>

<p>
  <strong>Correct:</strong>
  <%= @answer.correct %>
</p>

<p>
  <strong>Question:</strong>
  <%= @answer.question.name %>
</p>

<%= link_to 'Edit', edit_question_answer_path([@answer]) %> |
<%= link_to 'Back', question_answers_path %>
