<p id="notice"><%= notice %></p>

<h1>Packets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bounty</th>
      <th>Age</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @packets.each do |packet| %>
      <tr>
        <td><%= packet.name %></td>
        <td><%= packet.bounty %></td>
        <td><%= packet.age %></td>
        <td><%= link_to 'Show', packet %></td>
        <td><%= link_to 'Edit', edit_packet_path(packet) %></td>
        <td><%= link_to 'Destroy', packet, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Packet', new_packet_path %>
