<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Bounty:</strong>
  <%= @packet.bounty %>
</p>

<p>
  <strong>Age:</strong>
  <%= @packet.age %>
</p>

<%= link_to 'Edit', edit_packet_path(@packet) %> |
<%= link_to 'Back', packets_path %>
