<div class="container">
  <div class="">
    <%= link_to 'New Post', new_post_path %>
  </div>

  <div class="col-md-6" style="margin: auto;">

    <h2>Posts</h2>

    <% @posts.each do |post| %>
    <div class="container" style="background-color: azure; margin-bottom: 10%; ">
      <h3 style="font-width: 200%"><%= post.title.html_safe %></h3>
      <p><%= post.body.html_safe %></p>
      <p><%= post.created_at  %>
        <span style="float: right;"><%= post.user.name%></span>
      </p>
      <p style="color: blue"><%= link_to 'Read more', post %></p>
    </div>
    <% end %>

  </div>



</div>
