<div class="container">
  <div class="container" style="background-color: azure; margin-bottom: 10%;" >
    <h5><%= @post.title.html_safe %></h5>
      <p><%= @post.body.html_safe %></p>
      <p>Updated: <%= time_ago_in_words(@post.created_at) %> ago <span style="float: right;">Author: <%= @post.user.name%></span></p>
  </div>
</div>

<div class="jumbotron">
  <%= simple_form_for([@post, @comment]) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :body %>
      <%= f.association :post %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
<div class="container">

  <h1>Comments</h1>

  <table>
    <thead>
      <tr>
        <th>Body</th>
        <th>Post</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @comments.each do |comment| %>
        <tr>
          <td><%= comment.body %></td>
          <td><%= comment.post %></td>
          <td><%= link_to 'Show', post_comment_path(comment) %></td>
          <td><%= link_to 'Edit', edit_post_comment_path(@post, comment) %></td>
          <td><%= link_to 'Destroy',  post_comment_path(@post, comment) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>


<p>
  <%= link_to 'Edit', edit_post_path(@post) %>
  <br>
  <%= link_to 'Back', posts_path %>
</p>
