<p id="notice"><%= notice %></p>

<h1>Question Categories</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Information</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @question_categories.each do |question_category| %>
      <tr>
        <td><%= question_category.name %></td>
        <td><%= question_category.description %></td>
        <td><%= question_category.information %></td>
        <td><%= link_to 'Show', question_category %></td>
        <td><%= link_to 'Edit', edit_question_category_path(question_category) %></td>
        <td><%= link_to 'Destroy', question_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Question Category', new_question_category_path %>
