<!DOCTYPE html>
<html>
<head>
  <title>Smartstudy</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>


<%= render "shared/navbar" %>

<div class="container-fluid">
  <% if flash[:notice]!=nil %>
      <div class="alert alert-success">
        <%= flash[:notice] %>
      </div>
  <% elsif flash[:alert]!=nil %>
      <div class="alert alert-warning">
        <%= flash[:alert] %>
      </div>
  <% end %>

  <%= yield %>
</div>

<%= render "shared/footer" %>

</body>
</html>
